SQLAlchemy==2.0.22
aiogram~=2.25.2
uvloop~=0.17.0
python-dotenv~=1.0.0
aiohttp~=3.8.5
loguru~=0.7.2
dnspython~=2.4.2
idna~=3.4
cryptography~=41.0.4
pip~=23.2.1
attrs~=23.1.0
wheel~=0.41.2
pymongo~=4.5.0
setuptools~=68.1.2
cleo~=2.0.1
crashtest~=0.4.1
rapidfuzz~=2.15.2
pytz~=2023.3.post1
multidict~=6.0.4
Babel~=2.9.1
build~=0.10.0
virtualenv~=20.24.5
pycares~=4.4.0
dulwich~=0.21.6
poetry~=1.6.1
packaging~=23.2
jsonschema~=4.17.3
pyrsistent~=0.19.3
tomlkit~=0.12.1
pexpect~=4.8.0
shellingham~=1.5.3
requests~=2.31.0
cachecontrol~=0.13.1
pkginfo~=1.9.6
installer~=0.7.0
platformdirs~=3.11.0
certifi~=2023.7.22
yarl~=1.9.2
aiosignal~=1.3.1
frozenlist~=1.4.0
aiodns~=3.0.0
asyncpg~=0.28.0
config~=0.5.1
urllib3~=2.0.6
jeepney~=0.8.0
keyring~=24.2.0
SecretStorage~=3.3.3
ptyprocess~=0.7.0
humanfriendly~=10.0
executor~=23.2
coloredlogs~=15.0.1
fasteners~=0.19
six~=1.16.0
greenlet~=3.0.0
keyboard~=0.13.5
pydantic~=2.3.0
pycparser~=2.21
zipp~=3.17.0
distlib~=0.3.7
filelock~=3.12.4
verboselogs~=1.7
mongoengine~=0.24.2
msgpack~=1.0.7